@import "../../../../assets/scss/_variables.scss";

.consultation {
  position: relative;
  z-index: 1;
  ::ng-deep .nav-item {
    width: 50%;
    a {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $color-primary;
      border: none;
      div:first-child {
        font-weight: 700;
      }
      div:last-child {
        font-size: 0.8rem;
      }
      &:hover {
        border: none;
      }
      &.active {
        border-bottom: 2px solid $color-primary;
        background: transparent;
      }
    }
  }
  ::ng-deep .tab-content {
    padding: 1.5rem 0;
  }
}
