<div class="consultation">
  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab>
      <ng-template ngbTabTitle>
        <div>Today</div>
        <div>9 Slots available</div>
      </ng-template>
      <ng-template ngbTabContent>
        <div>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            01:15 PM
          </button>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            02:55 PM
          </button>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            03:40 PM
          </button>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            01:15 PM
          </button>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            02:55 PM
          </button>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            03:40 PM
          </button>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            03:40 PM
          </button>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <div>Tomorrow</div>
        <div>5 Slots available</div>
      </ng-template>
      <ng-template ngbTabContent>
        <div>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            03:40 PM
          </button>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            01:15 PM
          </button>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            02:55 PM
          </button>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            01:15 PM
          </button>
          <button type="button" class="btn btn-light-primary mr-2 mb-2">
            02:55 PM
          </button>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
