@import "../../../assets/scss/_variables.scss";

.card {
  border: none;
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
  border-radius: 0.42rem;
  &-body {
    &-thumb {
      width: 15%;
      position: relative;
      height: 113px;
      border-radius: 0.42rem;
      overflow: hidden;
      img {
        border-radius: 0.42rem;
        width: 100%;
      }
      .online {
        width: 0.7rem;
        position: absolute;
        right: 0.3rem;
        top: 0.3rem;
      }
    }
    &-intro {
      width: 55%;
      margin: 0 1rem;
      color: $text-dark;
      h5 {
        font-size: 1.05rem;
        margin-bottom: 0.3rem;
        display: flex;
        align-items: center;
        img {
          width: 1rem;
          margin-left: 0.2rem;
        }
        span {
          margin-left: 0.5rem;
          font-size: 0.8rem;
          font-weight: 400;
          color: $color-primary;
        }
      }
      p {
        color: $text-grey;
        margin-bottom: 0;
        font-weight: 500;
      }
      .icon-info {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-muted;
        font-weight: 500;
        margin-right: 1rem;
        img{
          width: 1rem;
          margin-right: 0.3rem;
        }
      }
    }
    .action-buttons{
      width: 31%;
      text-align: right;
    }
  }
}

@media(max-width: 1200px){
  .action-buttons{
    width: 35% !important;
  }
}

@media(max-width: 768px){
  .action-buttons{
    width: 27% !important;
    button{
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}


@media(max-width: 496px){
  .card-body-intro{
    h5{
      display: inherit;
    }
  }
}
