@import "../../../assets/scss/_variables.scss";

.profile {
  margin-top: 6rem;
  a {
    color: $text-muted;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    font-size: 0.8rem;
    transition: all 1s ease;
    svg {
      width: 1.5rem;
    }
    &:hover {
      .st0 {
        fill: $color-primary;
      }
    }
  }
  .list-group {
    padding: 1rem 0;
    .list-group-item {
      padding: 0.3rem 1.25rem;
      border: none;
      &.header {
        font-weight: 600;
      }
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 0.8rem 1.25rem 0.3rem 1.25rem;
  }
  &-basic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    border-bottom: 1px dashed $text-muted;
    &-image {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    p {
      margin: 0;
    }
  }
  &-consultation {
    border-bottom: 1px dashed $text-muted;
  }
  &-info {
    border-bottom: 1px dashed $text-muted;
  }
  &-faq {
    margin: 0;
  }
}
