<div class="container profile">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- <div class="card-header">
          <h4>
            Profile
          </h4>
        </div> -->
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="profile-basic">
                <div class="profile-basic-image">
                  <img
                    src="../../../assets/images/users/alexa1.png"
                    alt="..."
                  />
                </div>
                <h6>Dr. Alexa Bliss</h6>
                <p>BS - Pharmacy, MBBS, MCPS</p>
                <p>Cardiovascular Surgeon</p>
                <p>16 Yrs. Experience</p>
              </div>
              <div class="profile-info">
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center header"
                  >
                    Personal Information
                    <a
                      href="javascript:;"
                      class="btn btn-sm btn-default btn-hover-primary btn-icon pr-0"
                    >
                      <svg
                        id="Layer_1"
                        style="enable-background: new 0 0 64 64;"
                        version="1.1"
                        viewBox="0 0 64 64"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <style type="text/css">
                          .st0 {
                            fill: #b5b5c3;
                          }
                        </style>
                        <g>
                          <g
                            id="Icon-Pencil"
                            transform="translate(179.000000, 382.000000)"
                          >
                            <path
                              class="st0"
                              d="M-168.2-328l3.7-14.9l22.7-22.7l11.2,11.2l-22.7,22.7L-168.2-328L-168.2-328z M-161.9-341.5     l-2.4,9.6l9.6-2.4l20.2-20.2l-7.2-7.2L-161.9-341.5L-161.9-341.5z"
                              id="Fill-168"
                            />
                            <path
                              class="st0"
                              d="M-155.7-332.6c-1-3.9-4-6.9-7.9-7.9l0.7-2.8c4.9,1.2,8.7,5,9.9,9.9L-155.7-332.6"
                              id="Fill-169"
                            />
                            <polyline
                              class="st0"
                              id="Fill-170"
                              points="-156,-338.1 -158,-340.2 -138.1,-360.1 -136.1,-358.1 -156,-338.1    "
                            />
                            <path
                              class="st0"
                              d="M-166.2-330l4.4-1.1c-0.4-1.6-1.7-2.9-3.3-3.3L-166.2-330"
                              id="Fill-171"
                            />
                            <path
                              class="st0"
                              d="M-129.5-355.5l-11.2-11.2l4.5-4.5l0.7,0.1c5.4,0.7,9.7,5,10.4,10.4l0.1,0.7L-129.5-355.5     L-129.5-355.5z M-136.6-366.7l7.2,7.2l1.4-1.4c-0.8-3.6-3.6-6.4-7.2-7.2L-136.6-366.7L-136.6-366.7z"
                              id="Fill-172"
                            />
                          </g>
                        </g>
                      </svg>
                    </a>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span>Email:</span>
                    <span>alexabliss@eshaafi.com</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span>Phone:</span>
                    <span>+92 322 8268 659</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span>DOB:</span>
                    <span>12-02-1995</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span>Country:</span>
                    <span>Pakistan</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span>City:</span>
                    <span>Islamabad</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span>Gender:</span>
                    <span>Female</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span>Language:</span>
                    <span>English, Turkish</span>
                  </li>
                </ul>
              </div>
              <div class="profile-consultation">
                <div class="header">
                  Specialities
                  <a
                    href="javascript:;"
                    class="btn btn-sm btn-default btn-hover-primary btn-icon mr-2"
                  >
                    <svg
                      id="Layer_1"
                      style="enable-background: new 0 0 64 64;"
                      version="1.1"
                      viewBox="0 0 64 64"
                      xml:space="preserve"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <style type="text/css">
                        .st0 {
                          fill: #b5b5c3;
                        }
                      </style>
                      <g>
                        <g
                          id="Icon-Pencil"
                          transform="translate(179.000000, 382.000000)"
                        >
                          <path
                            class="st0"
                            d="M-168.2-328l3.7-14.9l22.7-22.7l11.2,11.2l-22.7,22.7L-168.2-328L-168.2-328z M-161.9-341.5     l-2.4,9.6l9.6-2.4l20.2-20.2l-7.2-7.2L-161.9-341.5L-161.9-341.5z"
                            id="Fill-168"
                          />
                          <path
                            class="st0"
                            d="M-155.7-332.6c-1-3.9-4-6.9-7.9-7.9l0.7-2.8c4.9,1.2,8.7,5,9.9,9.9L-155.7-332.6"
                            id="Fill-169"
                          />
                          <polyline
                            class="st0"
                            id="Fill-170"
                            points="-156,-338.1 -158,-340.2 -138.1,-360.1 -136.1,-358.1 -156,-338.1    "
                          />
                          <path
                            class="st0"
                            d="M-166.2-330l4.4-1.1c-0.4-1.6-1.7-2.9-3.3-3.3L-166.2-330"
                            id="Fill-171"
                          />
                          <path
                            class="st0"
                            d="M-129.5-355.5l-11.2-11.2l4.5-4.5l0.7,0.1c5.4,0.7,9.7,5,10.4,10.4l0.1,0.7L-129.5-355.5     L-129.5-355.5z M-136.6-366.7l7.2,7.2l1.4-1.4c-0.8-3.6-3.6-6.4-7.2-7.2L-136.6-366.7L-136.6-366.7z"
                            id="Fill-172"
                          />
                        </g>
                      </g>
                    </svg>
                  </a>
                </div>
                <ul class="list-group list-group-horizontal p-0 pb-3">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    Nuerology
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    Cardiology
                  </li>
                </ul>
              </div>
              <div class="profile-consultation">
                <div class="header">
                  Services
                  <a
                    href="javascript:;"
                    class="btn btn-sm btn-default btn-hover-primary btn-icon mr-2"
                  >
                    <svg
                      id="Layer_1"
                      style="enable-background: new 0 0 64 64;"
                      version="1.1"
                      viewBox="0 0 64 64"
                      xml:space="preserve"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <style type="text/css">
                        .st0 {
                          fill: #b5b5c3;
                        }
                      </style>
                      <g>
                        <g
                          id="Icon-Pencil"
                          transform="translate(179.000000, 382.000000)"
                        >
                          <path
                            class="st0"
                            d="M-168.2-328l3.7-14.9l22.7-22.7l11.2,11.2l-22.7,22.7L-168.2-328L-168.2-328z M-161.9-341.5     l-2.4,9.6l9.6-2.4l20.2-20.2l-7.2-7.2L-161.9-341.5L-161.9-341.5z"
                            id="Fill-168"
                          />
                          <path
                            class="st0"
                            d="M-155.7-332.6c-1-3.9-4-6.9-7.9-7.9l0.7-2.8c4.9,1.2,8.7,5,9.9,9.9L-155.7-332.6"
                            id="Fill-169"
                          />
                          <polyline
                            class="st0"
                            id="Fill-170"
                            points="-156,-338.1 -158,-340.2 -138.1,-360.1 -136.1,-358.1 -156,-338.1    "
                          />
                          <path
                            class="st0"
                            d="M-166.2-330l4.4-1.1c-0.4-1.6-1.7-2.9-3.3-3.3L-166.2-330"
                            id="Fill-171"
                          />
                          <path
                            class="st0"
                            d="M-129.5-355.5l-11.2-11.2l4.5-4.5l0.7,0.1c5.4,0.7,9.7,5,10.4,10.4l0.1,0.7L-129.5-355.5     L-129.5-355.5z M-136.6-366.7l7.2,7.2l1.4-1.4c-0.8-3.6-3.6-6.4-7.2-7.2L-136.6-366.7L-136.6-366.7z"
                            id="Fill-172"
                          />
                        </g>
                      </g>
                    </svg>
                  </a>
                </div>
                <ul class="list-group list-group-horizontal p-0 pb-3">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    Therapy
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    Conselling
                  </li>
                </ul>
              </div>
              <div class="profile-consultation">
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    Online Consultation
                    <ui-switch size="small" [checked]="true"></ui-switch>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    Fee PKR 500
                    <a
                      href="javascript:;"
                      class="btn btn-sm btn-default btn-hover-primary btn-icon mr-2"
                    >
                      <svg
                        id="Layer_1"
                        style="enable-background: new 0 0 64 64;"
                        version="1.1"
                        viewBox="0 0 64 64"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <style type="text/css">
                          .st0 {
                            fill: #b5b5c3;
                          }
                        </style>
                        <g>
                          <g
                            id="Icon-Pencil"
                            transform="translate(179.000000, 382.000000)"
                          >
                            <path
                              class="st0"
                              d="M-168.2-328l3.7-14.9l22.7-22.7l11.2,11.2l-22.7,22.7L-168.2-328L-168.2-328z M-161.9-341.5     l-2.4,9.6l9.6-2.4l20.2-20.2l-7.2-7.2L-161.9-341.5L-161.9-341.5z"
                              id="Fill-168"
                            />
                            <path
                              class="st0"
                              d="M-155.7-332.6c-1-3.9-4-6.9-7.9-7.9l0.7-2.8c4.9,1.2,8.7,5,9.9,9.9L-155.7-332.6"
                              id="Fill-169"
                            />
                            <polyline
                              class="st0"
                              id="Fill-170"
                              points="-156,-338.1 -158,-340.2 -138.1,-360.1 -136.1,-358.1 -156,-338.1    "
                            />
                            <path
                              class="st0"
                              d="M-166.2-330l4.4-1.1c-0.4-1.6-1.7-2.9-3.3-3.3L-166.2-330"
                              id="Fill-171"
                            />
                            <path
                              class="st0"
                              d="M-129.5-355.5l-11.2-11.2l4.5-4.5l0.7,0.1c5.4,0.7,9.7,5,10.4,10.4l0.1,0.7L-129.5-355.5     L-129.5-355.5z M-136.6-366.7l7.2,7.2l1.4-1.4c-0.8-3.6-3.6-6.4-7.2-7.2L-136.6-366.7L-136.6-366.7z"
                              id="Fill-172"
                            />
                          </g>
                        </g>
                      </svg>
                    </a>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    Monday (12:00 PM - 05:00 PM)
                    <a
                      href="javascript:;"
                      class="btn btn-sm btn-default btn-hover-primary btn-icon mr-2"
                    >
                      <svg
                        id="Layer_1"
                        style="enable-background: new 0 0 64 64;"
                        version="1.1"
                        viewBox="0 0 64 64"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <style type="text/css">
                          .st0 {
                            fill: #b5b5c3;
                          }
                        </style>
                        <g>
                          <g
                            id="Icon-Pencil"
                            transform="translate(179.000000, 382.000000)"
                          >
                            <path
                              class="st0"
                              d="M-168.2-328l3.7-14.9l22.7-22.7l11.2,11.2l-22.7,22.7L-168.2-328L-168.2-328z M-161.9-341.5     l-2.4,9.6l9.6-2.4l20.2-20.2l-7.2-7.2L-161.9-341.5L-161.9-341.5z"
                              id="Fill-168"
                            />
                            <path
                              class="st0"
                              d="M-155.7-332.6c-1-3.9-4-6.9-7.9-7.9l0.7-2.8c4.9,1.2,8.7,5,9.9,9.9L-155.7-332.6"
                              id="Fill-169"
                            />
                            <polyline
                              class="st0"
                              id="Fill-170"
                              points="-156,-338.1 -158,-340.2 -138.1,-360.1 -136.1,-358.1 -156,-338.1    "
                            />
                            <path
                              class="st0"
                              d="M-166.2-330l4.4-1.1c-0.4-1.6-1.7-2.9-3.3-3.3L-166.2-330"
                              id="Fill-171"
                            />
                            <path
                              class="st0"
                              d="M-129.5-355.5l-11.2-11.2l4.5-4.5l0.7,0.1c5.4,0.7,9.7,5,10.4,10.4l0.1,0.7L-129.5-355.5     L-129.5-355.5z M-136.6-366.7l7.2,7.2l1.4-1.4c-0.8-3.6-3.6-6.4-7.2-7.2L-136.6-366.7L-136.6-366.7z"
                              id="Fill-172"
                            />
                          </g>
                        </g>
                      </svg>
                    </a>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    Tuesday (12:00 PM - 05:00 PM)
                    <a
                      href="javascript:;"
                      class="btn btn-sm btn-default btn-hover-primary btn-icon mr-2"
                    >
                      <svg
                        id="Layer_1"
                        style="enable-background: new 0 0 64 64;"
                        version="1.1"
                        viewBox="0 0 64 64"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <style type="text/css">
                          .st0 {
                            fill: #b5b5c3;
                          }
                        </style>
                        <g>
                          <g
                            id="Icon-Pencil"
                            transform="translate(179.000000, 382.000000)"
                          >
                            <path
                              class="st0"
                              d="M-168.2-328l3.7-14.9l22.7-22.7l11.2,11.2l-22.7,22.7L-168.2-328L-168.2-328z M-161.9-341.5     l-2.4,9.6l9.6-2.4l20.2-20.2l-7.2-7.2L-161.9-341.5L-161.9-341.5z"
                              id="Fill-168"
                            />
                            <path
                              class="st0"
                              d="M-155.7-332.6c-1-3.9-4-6.9-7.9-7.9l0.7-2.8c4.9,1.2,8.7,5,9.9,9.9L-155.7-332.6"
                              id="Fill-169"
                            />
                            <polyline
                              class="st0"
                              id="Fill-170"
                              points="-156,-338.1 -158,-340.2 -138.1,-360.1 -136.1,-358.1 -156,-338.1    "
                            />
                            <path
                              class="st0"
                              d="M-166.2-330l4.4-1.1c-0.4-1.6-1.7-2.9-3.3-3.3L-166.2-330"
                              id="Fill-171"
                            />
                            <path
                              class="st0"
                              d="M-129.5-355.5l-11.2-11.2l4.5-4.5l0.7,0.1c5.4,0.7,9.7,5,10.4,10.4l0.1,0.7L-129.5-355.5     L-129.5-355.5z M-136.6-366.7l7.2,7.2l1.4-1.4c-0.8-3.6-3.6-6.4-7.2-7.2L-136.6-366.7L-136.6-366.7z"
                              id="Fill-172"
                            />
                          </g>
                        </g>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="profile-about">
                <h6 class="d-flex align-items-center justify-content-between">
                  About
                  <a
                    href="javascript:;"
                    class="btn btn-sm btn-default btn-hover-primary btn-icon mr-2"
                  >
                    <svg
                      id="Layer_1"
                      style="enable-background: new 0 0 64 64;"
                      version="1.1"
                      viewBox="0 0 64 64"
                      xml:space="preserve"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <style type="text/css">
                        .st0 {
                          fill: #b5b5c3;
                        }
                      </style>
                      <g>
                        <g
                          id="Icon-Pencil"
                          transform="translate(179.000000, 382.000000)"
                        >
                          <path
                            class="st0"
                            d="M-168.2-328l3.7-14.9l22.7-22.7l11.2,11.2l-22.7,22.7L-168.2-328L-168.2-328z M-161.9-341.5     l-2.4,9.6l9.6-2.4l20.2-20.2l-7.2-7.2L-161.9-341.5L-161.9-341.5z"
                            id="Fill-168"
                          />
                          <path
                            class="st0"
                            d="M-155.7-332.6c-1-3.9-4-6.9-7.9-7.9l0.7-2.8c4.9,1.2,8.7,5,9.9,9.9L-155.7-332.6"
                            id="Fill-169"
                          />
                          <polyline
                            class="st0"
                            id="Fill-170"
                            points="-156,-338.1 -158,-340.2 -138.1,-360.1 -136.1,-358.1 -156,-338.1    "
                          />
                          <path
                            class="st0"
                            d="M-166.2-330l4.4-1.1c-0.4-1.6-1.7-2.9-3.3-3.3L-166.2-330"
                            id="Fill-171"
                          />
                          <path
                            class="st0"
                            d="M-129.5-355.5l-11.2-11.2l4.5-4.5l0.7,0.1c5.4,0.7,9.7,5,10.4,10.4l0.1,0.7L-129.5-355.5     L-129.5-355.5z M-136.6-366.7l7.2,7.2l1.4-1.4c-0.8-3.6-3.6-6.4-7.2-7.2L-136.6-366.7L-136.6-366.7z"
                            id="Fill-172"
                          />
                        </g>
                      </g>
                    </svg>
                  </a>
                </h6>
                <p>
                  What is Lorem Ipsum Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s when an
                  unknown printer took a galley of type and scrambled it to make
                  a type specimen book it has?
                </p>
              </div>
              <div class="profile-about">
                <h6 class="d-flex align-items-center justify-content-between">
                  Education
                  <a
                    href="javascript:;"
                    class="btn btn-sm btn-default btn-hover-primary btn-icon mr-2"
                  >
                    <svg
                      id="Layer_1"
                      style="enable-background: new 0 0 64 64;"
                      version="1.1"
                      viewBox="0 0 64 64"
                      xml:space="preserve"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <style type="text/css">
                        .st0 {
                          fill: #b5b5c3;
                        }
                      </style>
                      <g>
                        <g
                          id="Icon-Pencil"
                          transform="translate(179.000000, 382.000000)"
                        >
                          <path
                            class="st0"
                            d="M-168.2-328l3.7-14.9l22.7-22.7l11.2,11.2l-22.7,22.7L-168.2-328L-168.2-328z M-161.9-341.5     l-2.4,9.6l9.6-2.4l20.2-20.2l-7.2-7.2L-161.9-341.5L-161.9-341.5z"
                            id="Fill-168"
                          />
                          <path
                            class="st0"
                            d="M-155.7-332.6c-1-3.9-4-6.9-7.9-7.9l0.7-2.8c4.9,1.2,8.7,5,9.9,9.9L-155.7-332.6"
                            id="Fill-169"
                          />
                          <polyline
                            class="st0"
                            id="Fill-170"
                            points="-156,-338.1 -158,-340.2 -138.1,-360.1 -136.1,-358.1 -156,-338.1    "
                          />
                          <path
                            class="st0"
                            d="M-166.2-330l4.4-1.1c-0.4-1.6-1.7-2.9-3.3-3.3L-166.2-330"
                            id="Fill-171"
                          />
                          <path
                            class="st0"
                            d="M-129.5-355.5l-11.2-11.2l4.5-4.5l0.7,0.1c5.4,0.7,9.7,5,10.4,10.4l0.1,0.7L-129.5-355.5     L-129.5-355.5z M-136.6-366.7l7.2,7.2l1.4-1.4c-0.8-3.6-3.6-6.4-7.2-7.2L-136.6-366.7L-136.6-366.7z"
                            id="Fill-172"
                          />
                        </g>
                      </g>
                    </svg>
                  </a>
                </h6>
                <div class="timeline">
                  <div class="timeline-item align-items-start">
                    <div class="timeline-item-label">
                      2012
                    </div>

                    <div class="timeline-badge">
                      <i class="fa fa-genderless text-success"></i>
                    </div>

                    <div class="timeline-item-content d-flex">
                      <span class="pl-3"
                        >MBBS from National Institute of Medical Sciences</span
                      >
                    </div>
                  </div>
                  <div class="timeline-item align-items-start">
                    <div class="timeline-item-label">
                      2019
                    </div>

                    <div class="timeline-badge">
                      <i class="fa fa-genderless text-success"></i>
                    </div>

                    <div class="timeline-item-content d-flex">
                      <span class="pl-3"
                        >MBBS from National Institute of Medical Sciences</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="profile-about">
                <h6 class="d-flex align-items-center justify-content-between">
                  Experience
                  <a
                    href="javascript:;"
                    class="btn btn-sm btn-default btn-hover-primary btn-icon mr-2"
                  >
                    <svg
                      id="Layer_1"
                      style="enable-background: new 0 0 64 64;"
                      version="1.1"
                      viewBox="0 0 64 64"
                      xml:space="preserve"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <style type="text/css">
                        .st0 {
                          fill: #b5b5c3;
                        }
                      </style>
                      <g>
                        <g
                          id="Icon-Pencil"
                          transform="translate(179.000000, 382.000000)"
                        >
                          <path
                            class="st0"
                            d="M-168.2-328l3.7-14.9l22.7-22.7l11.2,11.2l-22.7,22.7L-168.2-328L-168.2-328z M-161.9-341.5     l-2.4,9.6l9.6-2.4l20.2-20.2l-7.2-7.2L-161.9-341.5L-161.9-341.5z"
                            id="Fill-168"
                          />
                          <path
                            class="st0"
                            d="M-155.7-332.6c-1-3.9-4-6.9-7.9-7.9l0.7-2.8c4.9,1.2,8.7,5,9.9,9.9L-155.7-332.6"
                            id="Fill-169"
                          />
                          <polyline
                            class="st0"
                            id="Fill-170"
                            points="-156,-338.1 -158,-340.2 -138.1,-360.1 -136.1,-358.1 -156,-338.1    "
                          />
                          <path
                            class="st0"
                            d="M-166.2-330l4.4-1.1c-0.4-1.6-1.7-2.9-3.3-3.3L-166.2-330"
                            id="Fill-171"
                          />
                          <path
                            class="st0"
                            d="M-129.5-355.5l-11.2-11.2l4.5-4.5l0.7,0.1c5.4,0.7,9.7,5,10.4,10.4l0.1,0.7L-129.5-355.5     L-129.5-355.5z M-136.6-366.7l7.2,7.2l1.4-1.4c-0.8-3.6-3.6-6.4-7.2-7.2L-136.6-366.7L-136.6-366.7z"
                            id="Fill-172"
                          />
                        </g>
                      </g>
                    </svg>
                  </a>
                </h6>
                <div class="timeline">
                  <div class="timeline-item align-items-start">
                    <div class="timeline-item-label">
                      2012
                    </div>

                    <div class="timeline-badge">
                      <i class="fa fa-genderless text-success"></i>
                    </div>

                    <div class="timeline-item-content d-flex">
                      <span class="pl-3"
                        >MBBS from National Institute of Medical Sciences</span
                      >
                    </div>
                  </div>
                  <div class="timeline-item align-items-start">
                    <div class="timeline-item-label">
                      2019
                    </div>

                    <div class="timeline-badge">
                      <i class="fa fa-genderless text-success"></i>
                    </div>

                    <div class="timeline-item-content d-flex">
                      <span class="pl-3"
                        >MBBS from National Institute of Medical Sciences</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="profile-faq">
                <p><strong>Q:</strong> Question goes here?</p>
                <p><strong>A:</strong> Answer goes here?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
