@import "../../../../assets/scss/_variables.scss";

.card {
  display: inline-block;
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.17);
  &.bg-diagonal {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #eafdfc;
    }
    &:after {
      content: " ";
      width: 200%;
      height: 1000px;
      position: absolute;
      z-index: 1;
      top: 0;
      left: -30%;
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
      background-color: $color-primary-light;
    }
    .card-body {
      position: relative;
      z-index: 2;
    }
  }
}
