@import "../../../assets/scss/_variables.scss";

.card {
  border: none;
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
  &-title {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
  &-body {
    transition: all 1s ease;
    min-height: 13.5rem;
    max-height: 13.5rem;
    position: relative;
    &-icons {
      font-size: 0.9rem;
      color: $text-grey;
      position: absolute;
      bottom: 1rem;
    }
  }
  &-subtitle {
    color: $text-muted;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 0.9rem;
  }
  &-text {
    color: $text-grey;
    font-weight: 300;
    font-size: 0.9rem;
  }
  &:hover {
    .card-body {
      box-shadow: 0 3px 20px #ddd;
    }
  }
}
