<div class="card">
    <img class="card-img-top" src="../../../assets/images/{{blog.img}}.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-subtitle">
            by {{blog.author}}
        </p>
        <p class="card-text">{{blog.description}} </p>
        <div class="card-body-icons">
            <span class="mr-2"><i class="far fa-thumbs-up"></i> {{blog.likes}}</span>
            <span><i class="fas fa-share-alt"></i></span>
        </div>
    </div>
</div>