<div class="card">
    <div class="card-image">
        <img class="card-img-top" [src]="doctor.img" alt="Doctor image">
    </div>
    <div class="card-body">
        <div class="d-flex info flex-wrap my-2">
            <div class="icon-info">
                <img src="../../../assets/icons/like.svg" alt="">
                {{doctor.likes}}
            </div>
            <div class="icon-info">
                <img src="../../../assets/icons/experience.svg" alt=""> {{doctor.experience}} Years
            </div>
            <div class="icon-info">
                <img src="../../../assets/icons/money.svg" alt=""> Rs. {{doctor.fees}}
            </div>
        </div>
        <h5 class="card-title">Working Hours</h5>
        <h6>Islamabad International Hospital & Research Center</h6>
        <p><i class="fas fa-map-marker-alt mr-1"></i>FECHS E 11/3 E-11, Islamabad, Islamabad Capital Territory, Sector E, Islamabad</p>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span>Monday - Friday</span>
                <span>08:00 - 20:00</span>
            </li>
            <li class="list-group-item">
                <span>Saturday</span>
                <span>09:00 - 18:30</span>
            </li>
            <li class="list-group-item">
                <span>Monday - Thusday</span>
                <span>09:00 - 15:00</span>
            </li>
            <li class="list-group-item">
                <span>Monday - Friday</span>
                <span>08:00 - 12:00</span>
            </li>
        </ul>
    </div>
</div>