<div class="container profile">
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <!-- <div class="card-header">
          <h4>
            Profile
          </h4>
        </div> -->
        <div class="card-body">
          <div class="profile-basic">
            <div class="profile-basic-image">
              <img src="../../../assets/images/users/alexa1.png" alt="..." />
            </div>
            <h6>Dr. Alexa Bliss</h6>
            <p>BS - Pharmacy, MBBS, MCPS</p>
            <p>Cardiovascular Surgeon</p>
            <!-- <p>alexxabliss@eshaafi.com</p>
            <p>Islamabad, Pakistan</p>
            <p>16 Yrs. Experience</p> -->
          </div>
          <div>
            <ul
              ngbNav
              #nav="ngbNav"
              [(activeId)]="active"
              class="nav-tabs"
              orientation="vertical"
            >
              <li *ngFor="let tab of tabs" [ngbNavItem]="tab.id">
                <a ngbNavLink>
                  {{ tab.title }}
                </a>
                <ng-template ngbNavContent>
                  <app-personal-information
                    (proceed)="validated($event)"
                    *ngIf="tab.id === 1"
                  ></app-personal-information>
                  <app-education
                    *ngIf="tab.id === 2"
                    (proceed)="validated($event)"
                  ></app-education>
                  <app-experience
                    *ngIf="tab.id === 3"
                    (proceed)="validated($event)"
                  ></app-experience>
                  <app-awards
                    *ngIf="tab.id === 4"
                    (proceed)="validated($event)"
                  ></app-awards>
                  <app-video-consultation
                    (proceed)="validated($event)"
                    *ngIf="tab.id === 5"
                  ></app-video-consultation>
                  <app-services
                    *ngIf="tab.id === 6"
                    (proceed)="validated($event)"
                  ></app-services>
                  <app-security
                    *ngIf="tab.id === 7"
                    (proceed)="validated($event)"
                  ></app-security>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-6">
      <div class="card">
        <div class="card-header">
          <h4>
            {{ selectedTab.title }}
            <small>Change your account settings</small>
          </h4>
          <div class="card-toolbar">
            <button type="button" class="btn btn-primary btn-lg mr-2">
              Save Changes
            </button>
            <button type="button" class="btn btn-default btn-lg">Cancel</button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
