<div class="card">
  <div class="card-body pt-4">
    <h5 class="card-title">Experience</h5>
    <div class="timeline">
      <div class="timeline-item align-items-start">
        <div class="timeline-item-label">
          2012 - 2018
        </div>

        <div class="timeline-badge">
          <i class="fa fa-genderless text-warning"></i>
        </div>

        <div class="font-weight-mormal timeline-item-content pl-3">
          Director & HOD in Neurosurgery and Interventional Neuro-Radiology/
          Endovascular Neurosurgery at BLK Super Speciality Hospitalital New
          Delhi
        </div>
      </div>

      <div class="timeline-item align-items-start">
        <div class="timeline-item-label">
          2004 - 2012
        </div>

        <div class="timeline-badge">
          <i class="fa fa-genderless text-success"></i>
        </div>

        <div class="timeline-item-content d-flex">
          <span class="pl-3">Sr. Consultant at Fortis Hospital</span>
        </div>
      </div>

      <div class="timeline-item align-items-start">
        <div class="timeline-item-label">
          2002 - 2004
        </div>

        <div class="timeline-badge">
          <i class="fa fa-genderless text-danger"></i>
        </div>

        <div class="timeline-item-content pl-3">
          Consultant at Escorts Hospital & Research Centre
        </div>
      </div>

      <div class="timeline-item align-items-start">
        <div class="timeline-item-label">
          1993 - 2002
        </div>

        <div class="timeline-badge">
          <i class="fa fa-genderless text-primary"></i>
        </div>

        <div class="timeline-item-content pl-3">
          Senior Research Associate at Maulana Azad Medical College
        </div>
      </div>

      <div class="timeline-item align-items-start">
        <div class="timeline-item-label">
          1993 - 2002
        </div>

        <div class="timeline-badge">
          <i class="fa fa-genderless text-danger"></i>
        </div>

        <div class="timeline-item-content pl-3">
          Senior Research Associate at G. B. Pant Hospital
        </div>
      </div>
    </div>
  </div>
</div>
