@import "../../../../assets/scss/_variables.scss";

aside {
  background-color: #fff;
  border-radius: 0.42rem;
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
  margin-bottom: 2rem;
  h4 {
    margin: 0;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: $text-dark;
    border-bottom: 1px solid $border-grey;
  }
  .list-group {
    &-item {
      border: none;
      border-bottom: 1px solid $border-grey;
      .form-group {
        margin-bottom: 0;
        .form-control{
            height: 2rem;
        }
      }
      .label {
        font-weight: 500;
        color: $text-grey;
      }
      .radio-list {
        display: flex;
        flex-direction: column;
        .radio {
          display: block;
          position: relative;
          padding-left: 2rem;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 0.9rem;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            &:checked ~ .checkmark {
              background-color: $color-primary;
            }
            &:checked ~ .checkmark:after {
              display: block;
            }
          }
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #ebedf3;
            border-radius: 50%;
            &:after {
              content: "";
              position: absolute;
              display: none;
              top: 5px;
              left: 5px;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: white;
            }
          }
        }
      }
    }
  }
  ::ng-deep .ng5-slider-model-value,
  ::ng-deep .ng5-slider-model-high,
  ::ng-deep .ng5-slider-limit,
  ::ng-deep .ng5-slider-combined {
    font-size: 0.8rem;
  }
  ::ng-deep .ng5-slider-limit {
    display: none;
  }
  ::ng-deep .ng5-slider .ng5-slider-pointer,
  ::ng-deep .ng5-slider .ng5-slider-selection {
    background: $color-primary;
  }

  ::ng-deep .ng5-slider .ng5-slider-pointer{
      width: 26px;
      height: 26px;
      &:after{
          top: 9px;
          left: 9px;
      }
  }
}
