<!-- <div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<div class="card login">
  <div class="card-body">
 
    <div class="form-container">
      <div class="form-container-title">
        <img src="../../../assets/images/h_logo.png" alt="" />
        <h3>Login as Doctor</h3>
       
      </div>
      <form>
        <div class="form-group mb-4">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="checkbox text-muted">
            <input type="checkbox" name="remember" />
            <span></span>Remember me</label
          >
          <a href="javascript:;" class="text-muted">Forget Password ?</a>
        </div>
        <button type="button" class="btn btn-light-primary mt-4" (click)="loginHandler()">
          Sign In
        </button>
      </form>
   
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="close()"
  >
    Save
  </button>
</div> -->
