<div class="card wave wave-grey">
    <div class="row">
        <div class="col-5 pr-0">
            <img class="card-img-top" [src]="data.img" alt="Card image cap">
        </div>
        <div class="col-7 pl-0 d-flex align-items-center">
            <div class="card-body">
                <h5 class="card-title">{{data.title}}</h5>
                <p class="card-text">{{data.description}}</p>
                <button class="btn btn-light-primary btn-lg">Avail Offer</button>
            </div>
        </div>
    </div>
</div>