<div class="container doctors">
    <div class="row">
        <div class="col-lg-3">
            <app-aside></app-aside>
        </div>
        <div class="col-lg-9">
            <!-- <h4>
                Find the best doctors for you
            </h4> -->
            <ng-container *ngFor="let doctor of doctors">
                <app-linear-cards [doctor]="doctor"></app-linear-cards>
            </ng-container>
            <ngb-pagination [collectionSize]="70" [(page)]="page"></ngb-pagination>
        </div>
    </div>
</div>