@import "../../../assets/scss/_variables.scss";

.parallax {
  /* The image used */
  background-image: url("../../../assets/images/bg-doctors.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-secondary;
  &-overlay {
    padding: 3rem 0;
    background: transparentize($color-secondary, 0.13);
  }
}

@media (max-width: 760px) {
  .home-call {
    justify-content: center;
    margin-top: 1rem;
  }
}
