@import "../../../assets/scss/_variables.scss";

.search {
  display: flex;
  font-size: 0.8rem;
  > .input-group {
    a {
      border-left: 1px solid $btn-secondary;
      border-top: 1px solid $btn-secondary;
      border-bottom: 1px solid $btn-secondary;
      padding: 0.6rem;
      cursor: unset;
    }
    &:first-child {
      width: 35%;
      .form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-left: none;
        border-right: none;
      }
    }
    &:last-child {
      width: 65%;
      border-left: none;
      a {
        border-right: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-control {
        border-left: none;
      }
    }
    .input-group-append {
      a {
        border-left: none;
      }
    }
  }
}
