<div class="container">
<div [id]="localCallId" class="local"></div>

<div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>

<div class="col-1">
    <button class="btn btn-primary navigation_drawer_button" (click)="show = !show"><img src="../../assets/icons/ic_menu.svg" alt=""></button>
    <ngx-nav-drawer [(open)]="show">
        <a routerLink="/admin">Dashboard</a>
        <a routerLink="/admin/online-consultation">Online Consultations</a>
        <a routerLink="/admin/video-call">Video Call</a>
      </ngx-nav-drawer>
</div>
</div>


<div class="row action_buttons">
    <button class="btn btn-primary" (click)="mic_on=!mic_on"><img  src="../../assets/icons/ic_mic_clk.svg" *ngIf="mic_on"><img  src="../../assets/icons/ic_mic.svg" *ngIf="!mic_on"></button>
    <button class="btn btn-primary" (click)="cam_on=!cam_on"><img  src="../../assets/icons/ic_cam_clk.svg" *ngIf="cam_on"><img  src="../../assets/icons/ic_cam.svg" *ngIf="!cam_on"></button>

<button type="button" class="btn btn-primary">
    <img src="../../assets/icons/ic_cal_clk.svg" alt="" >
</button>
</div>