<main class="calling_bg">
  <div class="jumbotron vertical-center">
    <div class="container videoBox">
      <div [id]="localCallId" class="local"></div>
  
      <div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>
  
      <div *ngIf="isVisible" [style.display]="isVisible ? 'block' : 'none'" class="calling_screen" ></div>
  
      <div class="action_buttons">
        <button class="btn btn-primary" (click)="mic_on = !mic_on">
          <img src="../../assets/icons/ic_mic_crossed.svg" *ngIf="mic_on" /><img
            src="../../assets/icons/ic_mic.svg"
            *ngIf="!mic_on"
          />
        </button>
        <button class="btn btn-primary" (click)="cam_on = !cam_on">
          <img src="../../assets/icons/ic_cam_crossed.svg" *ngIf="cam_on" /><img
            src="../../assets/icons/ic_cam.svg"
            *ngIf="!cam_on"
          />
        </button>
  
        <button type="button" class="btn btn-primary" (click)="disconnectCall()">
          <img src="../../assets/icons/ic_cal_clk.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
  </main>
  