<div class="card login">
    <div class="card-body">
        <a href="javascript:;" class="close" (click)="close()">
            <svg enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100"
                xml:space="preserve" xmlns="http://www.w3.org/2000/svg" width="30px"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <polygon fill="#00b8ae"
                    points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 " />
            </svg>
        </a>


        <div class="form-container">
            <div class="form-container-title">
                <h3>Upload Prescription</h3>
            </div>

            <!-- <div class="image-input image-input-outline">
                <div class="image-input-wrapper"
                    style="background-image: url(../../../../assets/images/records/upload-img.png)">

                </div>
               
                <label class="btn btn-xs btn-circle" data-action="change" data-toggle="tooltip" title=""
                    data-original-title="Change avatar">
                    <i class="fa fa-pen icon-sm text-muted"></i>
                    <input type="file" accept=".png, .jpg, .jpeg" />
                    <input type=" hidden" name="profile_avatar_remove" />
                </label>
               

                              <h4>Add File</h4>
                     
            </div> -->

            <angular-file-uploader
            [config]="afuConfig">
      </angular-file-uploader>


            <div class="card-footer">
                <div class="row">
                    <button class="btn btn-light-primary mr-4">Cancel</button>
                    <button class="btn btn-light-primary ">Done</button>
            
                </div>
            </div>
                    
        </div>
    </div>
</div>
