<div class="mobile">
    <div class="row">
        <div class="col-lg-5 col-sm-7">
            <img src="../../../assets/images/img_cellphone.svg" alt="">
        </div>
        <div class="col-lg-7 col-sm-5 justify-content-center flex-column d-flex">
            <h2>Download the eshaafi app</h2>
            <h5>Book appointments and health checkups, orders, medicines and consult doctors online</h5>
            <img src="../../../assets/images/playstore.png" alt="">
        </div>
    </div>
</div>